<footer>
  <hr>
  <footer class="container__footer">
    <div class="container__footer-author">
      <p>Author: Vinícius Camargo Leardini</p>
    </div>
    <div class="container__footer-links">
      <div class="container__footer-links-img">
        <a href="https://github.com/vinileardini" target="_blank" rel="noreferer noopener"><img src="assets/img/githubLogo.png" alt="Github logo"></a>
      </div>
      <div class="container__footer-links-img">
        <a href="https://www.linkedin.com/in/vinícius-camargo-leardini" target="_blank" rel="noreferer noopener"><img src="/assets/img/linkedinLogo.png" alt="LinkedIn logo"></a>

      </div>
      <div class="container__footer-links">

    </div>
  </div>
</footer>
