<div class="container__small-card">
  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjFNaL9koh1NglVzWfqr86xpdpGdl7wdSFRg&usqp=CAU"
          alt="Imagem da notícia"
          height="200px"
          >
    </div>
    <div class="small-card__title">
      <h1><a href="#">Saiu nova versão do Angular</a></h1>
    </div>

  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>
</div>

